<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <footer class="bg-[#1E212C]">
        <div class="container">
            <div class="text-[#FFFFFF] flex justify-between items-start py-[80px] gap-[10px]">
                <div class="max-w-[350px] flex flex-col gap-[30px] items-start">
                    <img src="../../img/logo2.png" alt="">
                    <p class="text-[#FFFFFF70] ">
                        Createx Online School is a leader in online studying. We have lots of courses and programs from
                        the main market experts. We provide relevant approaches to online learning, internships and
                        employment in the largest companies in the country.
                    </p>
                    <img src="../../img/socials.png" alt="">
                </div>
                <div class="max-w-[280px] flex flex-col gap-[12px]">
                    <p class="font-bold text-[#FFFFFF]">SITE MAP</p>
                    <div class="text-[#FFFFFF70] flex flex-col gap-[8px]">
                        <a href="#">About Us</a>
                        <a href="#">Courses</a>
                        <a href="#">Events</a>
                        <a href="#">Blog</a>
                        <a href="#">Contacts</a>
                    </div>
                </div>
                <div class="max-w-[280px] flex flex-col gap-[12px]">
                    <p class="font-bold text-[#FFFFFF]">COURSES</p>
                    <div class="text-[#FFFFFF70] flex flex-col gap-[8px]">
                        <a href="#">Marketing</a>
                        <a href="#">Management</a>
                        <a href="#">HR & Recruting</a>
                        <a href="#">Design</a>
                        <a href="#">Development</a>
                    </div>
                </div>
                <div class="max-w-[280px] flex flex-col gap-[12px]">
                    <p class="font-bold text-[#FFFFFF]">CONTACT US</p>
                    <div class="text-[#FFFFFF70] flex flex-col gap-[8px] ">
                        <div class="flex items-center gap-[5px]">
                            <img src="../../img/footer_phone.png" alt="">
                            <p>(405) 555-0128</p>
                        </div>
                        <div class="flex items-center gap-[5px]">
                            <img src="../../img/footer_mail.png" alt="">
                            <p>hello@createx.com</p>
                        </div>
                    </div>
                </div>
                <div class="max-w-[280px] flex flex-col gap-[12px]">
                    <p class="font-bold text-[#FFFFFF]">SIGN UP TO OUR NEWSLETTER</p>
                    <div class="">
                        <input class="bg-[#FFFFFF1F] w-[300px] border-1 border-[#FFFFFF33] rounded-[4px] p-[10px]"
                            placeholder="Email address" type="text">
                    </div>
                    <p>
                        *Subscribe to our newsletter to receive communications and early updates from Createx SEO
                        Agency.
                    </p>
                </div>
            </div>
        </div>
        <div class="py-[20px] bg-[rgba(255,255,255,0.05)] text-[#FFFFFF70]">
            <div class="container flex items-center justify-between">
                <p class="flex items-center gap-[2px]"> 
                    © All rights reserved.
                    Made with <span><img src="../../img/footer_heart.png" alt=""></span>
                    by Createx Studio 
                </p>
                <p>GO TO TOP</p>
            </div>
        </div>
    </footer>
</body>

</html>