<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <header class="bg-[rgba(255,66,66,0.2)] py-[20px]">
        <div class="container flex items-center justify-between">
            <nav class="font-bold flex items-center gap-[60px]">
                <div>
                    <a href="../../index.html">
                        <img src="../../img/logo.png" alt="">
                    </a>
                </div>
                <div class="flex items-center gap-[40px]">
                    <a href="#">About Us</a>
                    <a class="active" href="#">Courses</a>
                    <a href="#">Events</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacts</a>
                </div>
            </nav>
            <div class="flex items-center gap-[30px]">
                <button class="btn rounded-[4px] py-[10px] px-[40px]">Get consultation</button>
                <div class="flex items-center gap-[5px]">
                    <a href="#">
                        <img src="../../img/profile.png" alt="">
                    </a>
                    <a href="#">
                        <p class="font-bold">Log in / Register</p>
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>

</html>