@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #424551;
}

.active {
    color: #FF3F3A;
}

.btn {
    padding: 14px 118px;
    color: #FFFFFF;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    font-size: 16px;
    cursor: pointer;
}

.btn2 {
    padding: 14px 118px;
    color: #F75E05;
    border: 1px solid  #FF3F3A;
    font-size: 16px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 46px;
}

h1,
h2,
h3 {
    font-weight: 900;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}
.bgmain{
    background: linear-gradient(55.95deg, #e7797567 0%, #f75e0538 100%);

}